-- ************ LOTE 1: CREAR LA BASE DE DATOS (SI NO EXISTE) ************
USE [master]
GO

IF NOT EXISTS (SELECT 1 FROM sys.databases WHERE name = 'BikeZ_DW')
BEGIN
    PRINT 'Creando la base de datos [BikeZ_DW]...';
    CREATE DATABASE [BikeZ_DW];
    PRINT 'Base de datos [BikeZ_DW] creada.';
END
ELSE
BEGIN
    PRINT 'La base de datos [BikeZ_DW] ya existe.';
END
GO -- Fin del Lote 1

-- ************ LOTE 2: CAMBIAR EL CONTEXTO A LA NUEVA BASE DE DATOS ************
USE [BikeZ_DW]
GO -- Fin del Lote 2

-- ************ LOTE 3: CREAR LAS TABLAS (SI NO EXISTEN) ************
-- Verifica si una tabla clave (FT_VENTA) ya existe. Si no, ejecuta la creación.
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FT_VENTA]') AND type in (N'U'))
BEGIN
    PRINT 'Creando tablas en [BikeZ_DW]...';
    
    -- Pegué tu script original aquí, pero le quité
    -- todos los 'GO' intermedios para que funcione
    -- dentro de este bloque 'BEGIN...END'.
    
    SET ANSI_NULLS ON;
    SET QUOTED_IDENTIFIER ON;

    CREATE TABLE [dbo].[DT_Almacen](
        [AlmacenID] [int] NOT NULL,
        [Almacen] [nvarchar](50) NOT NULL,
        [TerritorioID] [int] NULL,
    CONSTRAINT [PK_DT_Almacen] PRIMARY KEY CLUSTERED 
    ( [AlmacenID] ASC )
    WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
    ) ON [PRIMARY];

    CREATE TABLE [dbo].[DT_Categoria_Producto](
        [CategoriaID] [int] NOT NULL,
        [Categoria] [nvarchar](50) NOT NULL,
    CONSTRAINT [PK_DT_Categoria_Producto] PRIMARY KEY CLUSTERED 
    ( [CategoriaID] ASC )
    WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
    ) ON [PRIMARY];

    CREATE TABLE [dbo].[DT_Cliente](
        [ClienteID] [int] NOT NULL,
        [Nom_Cliente] [nvarchar](255) NOT NULL,
    CONSTRAINT [PK_DT_Cliente] PRIMARY KEY CLUSTERED 
    ( [ClienteID] ASC )
    WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
    ) ON [PRIMARY];

    CREATE TABLE [dbo].[DT_Empleado](
        [EmpleadoID] [int] NOT NULL,
        [Cargo] [nvarchar](50) NOT NULL,
        [FechaNacimiento] [date] NOT NULL,
        [EstadoCivil] [nchar](1) NOT NULL,
        [Genero] [nchar](1) NOT NULL,
        [FechaContratacion] [date] NOT NULL,
        [HorasVacaciones] [smallint] NOT NULL,
        [TerritorioID] [int] NULL,
    CONSTRAINT [PK_DT_Empleado] PRIMARY KEY CLUSTERED 
    ( [EmpleadoID] ASC )
    WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
    ) ON [PRIMARY];

    CREATE TABLE [dbo].[DT_FechaCom](
        [FechaComID] [int] NOT NULL,
        [dia] [int] NOT NULL,
        [semana] [int] NOT NULL,
        [mes] [int] NOT NULL,
        [semestre] [int] NOT NULL,
        [annio] [int] NOT NULL,
    CONSTRAINT [PK_DT_Tiempo] PRIMARY KEY CLUSTERED 
    ( [FechaComID] ASC )
    WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
    ) ON [PRIMARY];

    CREATE TABLE [dbo].[DT_FechaEnv](
        [FechaEnvID] [int] NOT NULL,
        [dia] [int] NOT NULL,
        [semana] [int] NOT NULL,
        [mes] [int] NOT NULL,
        [semestre] [int] NOT NULL,
        [annio] [int] NOT NULL,
    CONSTRAINT [PK_DT_FechaEnv] PRIMARY KEY CLUSTERED 
    ( [FechaEnvID] ASC )
    WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
    ) ON [PRIMARY];

    CREATE TABLE [dbo].[DT_Pais_Almacen](
        [PaisID] [nvarchar](3) NOT NULL,
        [Pais] [nvarchar](50) NOT NULL,
    CONSTRAINT [PK_Pais_Almacen] PRIMARY KEY CLUSTERED 
    ( [PaisID] ASC )
    WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
    ) ON [PRIMARY];

    CREATE TABLE [dbo].[DT_Pais_Empleado](
        [PaisID] [nvarchar](3) NOT NULL,
        [Pais] [nvarchar](50) NOT NULL,
    CONSTRAINT [PK_Pais_Empleado] PRIMARY KEY CLUSTERED 
    ( [PaisID] ASC )
    WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
    ) ON [PRIMARY];

    CREATE TABLE [dbo].[DT_Pais_Venta](
        [PaisID] [nvarchar](3) NOT NULL,
        [Pais] [nvarchar](50) NULL,
    CONSTRAINT [PK_DT_Pais_Venta] PRIMARY KEY CLUSTERED 
    ( [PaisID] ASC )
    WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
    ) ON [PRIMARY];

    CREATE TABLE [dbo].[DT_Producto](
        [ProductoID] [int] NOT NULL,
        [NomProducto] [nvarchar](50) NOT NULL,
        [Color] [nvarchar](15) NULL,
        [CategoriaID] [int] NULL,
    CONSTRAINT [PK_DT_Producto] PRIMARY KEY CLUSTERED 
    ( [ProductoID] ASC )
    WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
    ) ON [PRIMARY];

    CREATE TABLE [dbo].[DT_Territorio_Almacen](
        [TerritorioID] [int] NOT NULL,
        [Territorio] [nvarchar](50) NOT NULL,
        [Grupo] [nvarchar](50) NOT NULL,
        [PaisID] [nvarchar](3) NOT NULL,
    CONSTRAINT [PK_DT_Territorio_Almacen] PRIMARY KEY CLUSTERED 
    ( [TerritorioID] ASC )
    WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
    ) ON [PRIMARY];

    CREATE TABLE [dbo].[DT_Territorio_Empleado](
        [TerritorioID] [int] NOT NULL,
        [Territorio] [nvarchar](50) NOT NULL,
        [Grupo] [nvarchar](50) NOT NULL,
        [PaisID] [nvarchar](3) NOT NULL,
    CONSTRAINT [PK_DT_Territorio_Empleado] PRIMARY KEY CLUSTERED 
    ( [TerritorioID] ASC )
    WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
    ) ON [PRIMARY];

    CREATE TABLE [dbo].[DT_Territorio_Venta](
        [TerritorioID] [int] NOT NULL,
        [Territorio] [nvarchar](50) NOT NULL,
        [Grupos] [nvarchar](50) NOT NULL,
        [PaisID] [nvarchar](3) NULL,
    CONSTRAINT [PK_DT_Territorio_Ventas] PRIMARY KEY CLUSTERED 
    ( [TerritorioID] ASC )
    WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
    ) ON [PRIMARY];

    CREATE TABLE [dbo].[FT_VENTA](
        [VentaID] [int] NOT NULL,
        [ProductoID] [int] NOT NULL,
        [EmpleadoID] [int] NOT NULL,
        [ClienteID] [int] NOT NULL,
        [AlmacenID] [int] NOT NULL,
        [FechaComID] [int] NOT NULL,
        [FechaEnvID] [int] NOT NULL,
        [TerritorioVenID] [int] NOT NULL,
        [Cantidad] [smallint] NOT NULL,
        [PrecioUnitario] [money] NOT NULL,
    CONSTRAINT [PK_FT_VENTA] PRIMARY KEY CLUSTERED 
    (
        [VentaID] ASC, [ProductoID] ASC, [EmpleadoID] ASC, [ClienteID] ASC, [AlmacenID] ASC, [FechaComID] ASC, [FechaEnvID] ASC, [TerritorioVenID] ASC
    )
    WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
    ) ON [PRIMARY];
    
    -- Creación de todas las llaves foráneas (FK)
    
    ALTER TABLE [dbo].[DT_Almacen]  WITH CHECK ADD  CONSTRAINT [FK_DT_Almacen_DT_Territorio_Almacen] FOREIGN KEY([TerritorioID])
    REFERENCES [dbo].[DT_Territorio_Almacen] ([TerritorioID]);
    ALTER TABLE [dbo].[DT_Almacen] CHECK CONSTRAINT [FK_DT_Almacen_DT_Territorio_Almacen];

    ALTER TABLE [dbo].[DT_Categoria_Producto]  WITH CHECK ADD  CONSTRAINT [FK_DT_Categoria_Producto_DT_Producto] FOREIGN KEY([CategoriaID])
    REFERENCES [dbo].[DT_Producto] ([ProductoID]);
    ALTER TABLE [dbo].[DT_Categoria_Producto] CHECK CONSTRAINT [FK_DT_Categoria_Producto_DT_Producto];

    ALTER TABLE [dbo].[DT_Empleado]  WITH CHECK ADD  CONSTRAINT [FK_DT_Empleado_DT_Territorio_Empleado] FOREIGN KEY([TerritorioID])
    REFERENCES [dbo].[DT_Territorio_Empleado] ([TerritorioID]);
    ALTER TABLE [dbo].[DT_Empleado] CHECK CONSTRAINT [FK_DT_Empleado_DT_Territorio_Empleado];

    ALTER TABLE [dbo].[DT_Territorio_Almacen]  WITH CHECK ADD  CONSTRAINT [FK_DT_Territorio_Almacen_DT_Pais_Almacen] FOREIGN KEY([PaisID])
    REFERENCES [dbo].[DT_Pais_Almacen] ([PaisID]);
    ALTER TABLE [dbo].[DT_Territorio_Almacen] CHECK CONSTRAINT [FK_DT_Territorio_Almacen_DT_Pais_Almacen];

    ALTER TABLE [dbo].[DT_Territorio_Empleado]  WITH CHECK ADD  CONSTRAINT [FK_DT_Territorio_Empleado_DT_Pais_Empleado] FOREIGN KEY([PaisID])
    REFERENCES [dbo].[DT_Pais_Empleado] ([PaisID]);
    ALTER TABLE [dbo].[DT_Territorio_Empleado] CHECK CONSTRAINT [FK_DT_Territorio_Empleado_DT_Pais_Empleado];

    ALTER TABLE [dbo].[DT_Territorio_Venta]  WITH CHECK ADD  CONSTRAINT [FK_DT_Territorio_Venta_DT_Pais_Venta] FOREIGN KEY([PaisID])
    REFERENCES [dbo].[DT_Pais_Venta] ([PaisID]);
    ALTER TABLE [dbo].[DT_Territorio_Venta] CHECK CONSTRAINT [FK_DT_Territorio_Venta_DT_Pais_Venta];

    ALTER TABLE [dbo].[FT_VENTA]  WITH CHECK ADD  CONSTRAINT [FK_FT_VENTA_DT_Almacen] FOREIGN KEY([AlmacenID])
    REFERENCES [dbo].[DT_Almacen] ([AlmacenID]);
    ALTER TABLE [dbo].[FT_VENTA] CHECK CONSTRAINT [FK_FT_VENTA_DT_Almacen];

    ALTER TABLE [dbo].[FT_VENTA]  WITH CHECK ADD  CONSTRAINT [FK_FT_VENTA_DT_Cliente] FOREIGN KEY([ClienteID])
    REFERENCES [dbo].[DT_Cliente] ([ClienteID]);
    ALTER TABLE [dbo].[FT_VENTA] CHECK CONSTRAINT [FK_FT_VENTA_DT_Cliente];

    ALTER TABLE [dbo].[FT_VENTA]  WITH CHECK ADD  CONSTRAINT [FK_FT_VENTA_DT_Empleado] FOREIGN KEY([EmpleadoID])
    REFERENCES [dbo].[DT_Empleado] ([EmpleadoID]);
    ALTER TABLE [dbo].[FT_VENTA] CHECK CONSTRAINT [FK_FT_VENTA_DT_Empleado];

    ALTER TABLE [dbo].[FT_VENTA]  WITH CHECK ADD  CONSTRAINT [FK_FT_VENTA_DT_FechaCom] FOREIGN KEY([FechaComID])
    REFERENCES [dbo].[DT_FechaCom] ([FechaComID]);
    ALTER TABLE [dbo].[FT_VENTA] CHECK CONSTRAINT [FK_FT_VENTA_DT_FechaCom];

    ALTER TABLE [dbo].[FT_VENTA]  WITH CHECK ADD  CONSTRAINT [FK_FT_VENTA_DT_FechaEnv] FOREIGN KEY([FechaEnvID])
    REFERENCES [dbo].[DT_FechaEnv] ([FechaEnvID]);
    ALTER TABLE [dbo].[FT_VENTA] CHECK CONSTRAINT [FK_FT_VENTA_DT_FechaEnv];

    ALTER TABLE [dbo].[FT_VENTA]  WITH CHECK ADD  CONSTRAINT [FK_FT_VENTA_DT_Producto] FOREIGN KEY([ProductoID])
    REFERENCES [dbo].[DT_Producto] ([ProductoID]);
    ALTER TABLE [dbo].[FT_VENTA] CHECK CONSTRAINT [FK_FT_VENTA_DT_Producto];

    ALTER TABLE [dbo].[FT_VENTA]  WITH CHECK ADD  CONSTRAINT [FK_FT_VENTA_DT_Territorio_Venta] FOREIGN KEY([TerritorioVenID])
    REFERENCES [dbo].[DT_Territorio_Venta] ([TerritorioID]);
    ALTER TABLE [dbo].[FT_VENTA] CHECK CONSTRAINT [FK_FT_VENTA_DT_Territorio_Venta];

    PRINT 'Script completado. Las tablas han sido creadas en [BikeZ_DW].';
    
END -- Fin del IF NOT EXISTS FT_VENTA
ELSE
BEGIN
    PRINT 'La tabla [FT_VENTA] ya existe. No se ejecuta el script de creación de tablas.';
END
GO -- Fin del Lote 3